@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

html {
  scroll-behavior: smooth;
  user-select: var(--color-primary);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair: 'Playfair Display', serif;

  --color-primary: #FFC33D;  
}

@layer components {
  .btn-primary{
    @apply bg-black w-fit text-white font-playfair rounded-full p-3 px-6
  }
  .animate-theme{
    @apply transition-colors duration-500
  }
  .h-screen-navbar{
    @apply min-h-[calc(100vh-65px)];
  }
  .full-h{
    @apply min-h-[calc(100vh-65px)];

  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@variant dark (&:where(.dark, .dark *));